<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="header_logo">
                Logo
            </div>
            <div class="header_nav">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="section_form" onsubmit="return Client.handleSubmit(event)">
                    <textarea id="form__user-input" type="text" name="input" value="" placeholder="Enter text here"></textarea>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="section_results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
